.userCard {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 498px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.userAvatar {
  width: 150px;
  border-radius: 100%;
  margin-bottom: 40px;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  width: 498px;
  height: 400px;
  border-radius: 5px 5px 0 0;
}

.name,
.tag,
.location {
  text-align: center;
  margin: 0 0 10px;
}

.name {
  font-size: 35;
  font-weight: 700;
}

.tag,
.location {
  color: #c6cad2;
  font-weight: 500;
}

.stats {
  display: flex;
  text-align: center;
  width: 498px;
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 166px;
  height: 166px;
  gap: 10px;
}

.statsItem span:first-child {
  color: #020e25;
  font-weight: 400;
  font-size: 18px;
}

.statsItem span:last-child {
  font-weight: 700;
  font-size: 20px;
}

.stats li:first-child {
  border-radius: 0 0 0 5px;
}

.stats li:last-child {
  border-radius: 0 0 5px 0;
}
